body{font-family: 'Capriola', sans-serif;
    margin:0;
    background: linear-gradient(rgba(250, 250, 252, 0.75),rgba(255, 255, 255, 0.75)), url(../principal/fondo1.jpg);
    background-size: cover;  
}
header{
    display: flex;
    min-height:70px;
    background:linear-gradient(to bottom, rgb(226, 240, 147), rgb(243, 245, 102));
    justify-content: space-between;
    align-items:center;
    padding:15px;
    margin-left: 15px;
    margin: 10px 10px 0px 10px;
    border-radius: 20px;
    box-shadow:2px 2px 1px black;
}

a{
    text-decoration:none;
    color:rgb(0, 0, 0);
    font-size:16px;
}
h1{
    padding-left:20px;
    color:rgb(4, 121, 121);
}
.logo{
    display:flex;
    align-items: center;
}
.logo img{
    height:60px;
    margin-right:10px;
    margin-left:15px;
}
nav a{
    font-weight:600;
    padding-right:10px;
}
nav a:hover{
    background-color:rgb(255, 208, 1);
    border-radius: 10px;
    padding:10px;
    box-shadow:2px 2px 1px rgb(70, 69, 69);
}
/* header para arriba */




p{
    padding: 20px 20px 20px 0px;
}

.trabajo{
    margin-right: 10px;
  
}
.costado{
    width: 30%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    justify-content: space-around;
 
}
#costado{
    width: 25vw;
    margin: 10px 0px;
    border-radius: 10px;
    box-shadow:2px 2px 1px rgb(70, 69, 69);
}

.contenedor{
    display: flex;
    flex-wrap:nowrap;
}
.desplegable{
    display:none;
    background-color: rgb(231, 229, 229);
    list-style:none;
    border-radius: 10px;
    padding-bottom: 10px;
    box-shadow:2px 2px 1px rgb(70, 69, 69);
    text-align: justify;
    
}

.trabajo li:hover .desplegable{
 display:block;

}
#logo{
    width: 60px;
}
#correo{
    background-color:rgb(255, 208, 1);
    border-radius: 10px;
    padding:10px;
    box-shadow:2px 2px 1px rgb(70, 69, 69);
}

.pie-pagina{
    display: flex;
    width: 100%;
    background:linear-gradient(to bottom, rgb(0, 0, 0), rgb(44, 43, 43));
    justify-content:space-between;
    min-height: 250PX;
    border-radius: 10px;
}
.pie-pagina div a{
    color:white;
    text-decoration: none; 
    margin-right: 20px;
}

.pie-pagina div {
    color:white;
    margin-left:10px;
    margin-right:10px;
    text-decoration: none; 
    align-items: left;
    margin-bottom: 10px;
}

@media (max-width:700px) {
    header{
        flex-direction:column;
    }
    footer{
        flex-direction:column;
    }
}
@media (max-width:350px) {
    .menu-horizontal{
        flex-direction:column;
        margin:auto;
        text-align: center;
    } 

}